# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment configuration files
# .env

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore compiled code or build artifacts
/dist/
/build/
/out/

# Ignore operating system files
.DS_Store
Thumbs.db
